.u-section-1 {
  background-image: url("images/6155e1bc602ce1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-group-1 {
  min-height: 439px;
  margin-top: 316px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 57px 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
}

.u-section-1 .u-text-2 {
  margin: 40px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-group-1 {
    min-height: 530px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-group-1 {
    min-height: 413px;
    margin-top: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 8.64% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 329px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -100px auto 30px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 419px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(233, 242, 250) !important;
  margin: 40px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 40px 20px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 40px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 419px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(44, 204, 196) !important;
  margin: 42px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 40px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 419px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(44, 204, 196) !important;
  margin: 42px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 40px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
    color: rgb(44, 204, 196) !important;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    font-style: normal;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    font-style: normal;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: url("images/d4bcbcd5c55a2e9ccd7264a6a82b972ec54fb45b0a6d67030b1a205374f93540d9a8d708b02d72cc368c9abce7bd487e14cba4853dc12363ce325e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  margin: 37px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 9px 15px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 625px;
  background-image: url("images/76a6d609a02e3b0eae122e03751c7d61.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 440px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 426px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -6px;
  }

  .u-section-3 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 575px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 591px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 425px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -3px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }
}.u-section-4 {
  background-image: linear-gradient(white, #478ac9);
}

.u-section-4 .u-sheet-1 {
  min-height: 810px;
}

.u-section-4 .u-group-1 {
  width: 925px;
  min-height: 227px;
  margin: 43px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 8px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 20px auto 57px 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/11058071.jpg");
  min-height: 522px;
  background-position: 87.99% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/552022.jpg");
  min-height: 261px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/1467799638.png");
  min-height: 261px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/A990E4A9-912F-4B4B-8C0C-BADC9A6DD5BF_1_105_c.jpeg");
  min-height: 261px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/1594433798.png");
  min-height: 261px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-group-1 {
    width: 883px;
    min-height: 225px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 25px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-4 .u-group-1 {
    min-height: 203px;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 288px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 47px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 245px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 245px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 245px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-6 {
  background-image: linear-gradient(#2cccc4, #f2f2f2);
}

.u-section-6 .u-sheet-1 {
  min-height: 868px;
}

.u-section-6 .u-group-1 {
  min-height: 130px;
  width: 836px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 15px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 862px;
  margin: 30px auto 60px 126px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-6 .u-container-layout-2 {
  padding-right: 30px;
}

.u-section-6 .u-image-1 {
  width: 193px;
  height: 193px;
  object-position: 50% 43.87%;
  background-position: 50% 50%;
  background-image: url("images/sjwpro.jpg");
  margin: 20px 0 0 30px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px 15px 0 45px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-size: 1.125rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 9px 0 11px;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 27px -35px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 622px;
}

.u-section-6 .u-image-2 {
  width: 163px;
  height: 163px;
  object-position: 55.75% 43.87%;
  background-position: 50% 50%;
  background-image: url("images/dojepro.jpg");
  margin: -42px 40px 0 auto;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 66px 30px 0;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-style: italic;
  width: 193px;
  margin: 6px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 622px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-6 .u-image-3 {
  width: 163px;
  height: 163px;
  margin: -30px auto 0 36px;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin: 70px 40px 0 6px;
}

.u-section-6 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 0 0 6px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-11 {
  font-style: italic;
  margin: 15px 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    margin-left: 125px;
    margin-right: 125px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 689px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 78px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-6 .u-text-5 {
    width: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 96px;
    margin-right: 96px;
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 19px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 4px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 4px;
    margin-right: 29px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 4px;
    margin-right: 29px;
  }

  .u-section-6 .u-text-5 {
    width: 197px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2313px;
  }

  .u-section-6 .u-group-1 {
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 381px;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: 72px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 360px;
    background-position: 0% 0%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 14px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
  }

  .u-section-6 .u-text-6 {
    position: relative;
  }

  .u-section-6 .u-text-7 {
    position: relative;
  }

  .u-section-6 .u-text-8 {
    position: relative;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1603px;
  }

  .u-section-6 .u-group-1 {
    min-height: 247px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 656px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 52px auto 52px 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 772px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 60px;
}

.u-section-7 .u-icon-1 {
  height: 115px;
  width: 115px;
  color: rgb(237, 138, 25) !important;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 35px 105px 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 27px 105px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 286px;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 20px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 286px;
  background-image: none;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-6 {
  font-style: italic;
  margin: 20px;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 286px;
  background-image: none;
}

.u-section-7 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-8 {
  font-style: italic;
  margin: 20px;
}

.u-section-7 .u-btn-3 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 286px;
  background-image: none;
}

.u-section-7 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-7 .u-text-10 {
  font-style: italic;
  margin: 20px;
}

.u-section-7 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 87px;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 234px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-7 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 234px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-7 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 234px;
  }

  .u-section-7 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-7 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 66px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 66px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 28px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 50px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 49px;
    margin-bottom: 50px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 777px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1248px;
  margin: 37px auto 37px -48px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/photo_2021-09-12_19-39-58.jpg");
  min-height: 703px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  margin: 75px 176px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 20px 163px 0 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 20px 20px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 530px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-right: 116px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 175px;
    position: relative;
  }

  .u-section-8 .u-text-3 {
    margin: 16px 17px 50px 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 406px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 13px;
    padding-left: 13px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 73px;
    position: relative;
    width: NaNpx;
  }

  .u-section-8 .u-text-2 {
    margin-right: 111px;
    width: NaNpx;
  }

  .u-section-8 .u-text-3 {
    margin-right: 11px;
    margin-left: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 609px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 55px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 83px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 8px;
    margin-left: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 383px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 53px;
    margin-right: 122px;
    margin-left: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 37px;
    margin-left: 16px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 53px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 525px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-9 .u-image-1 {
  min-height: 373px;
  background-image: url("images/6155e1bc602ce1.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 373px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: bold;
  margin: 0 14px;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.u-section-9 .u-text-2 {
  font-style: italic;
  margin: 20px 14px 0;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.u-section-9 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -56px 0 0 auto;
}

.u-section-9 .u-text-3 {
  font-style: italic;
  margin: 14px 341px 0 14px;
}

.u-section-9 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-9 .u-btn-5 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -56px auto 0 145px;
}

.u-section-9 .u-text-4 {
  width: 440px;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-9 .u-btn-6 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-9 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -62px 0 0 auto;
  padding: 22px 32px 22px 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-9 .u-image-1 {
    min-height: 284px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 66px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 255px;
    width: 363px;
  }

  .u-section-9 .u-btn-5 {
    margin-left: 45px;
  }

  .u-section-9 .u-text-4 {
    width: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 51px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 177px;
    width: 278px;
  }

  .u-section-9 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    width: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 38px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -35px;
  }

  .u-section-9 .u-text-3 {
    width: 261px;
    margin-top: -6px;
  }

  .u-section-9 .u-btn-5 {
    margin-top: -36px;
  }

  .u-section-9 .u-text-4 {
    width: 261px;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 24px;
  }

  .u-section-9 .u-text-3 {
    width: 219px;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    width: 219px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-10 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 87px auto 0;
}

.u-section-10 .u-text-2 {
  margin: 361px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#db545a, #478ac9);
  margin: 36px auto 60px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-11 {
  background-image: linear-gradient(black, white);
}

.u-section-11 .u-sheet-1 {
  min-height: 500px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-image-1 {
  min-height: 400px;
  background-image: url("images/KdG9Ul.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  margin: 113px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 57px auto 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-image-1 {
    min-height: 330px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-11 .u-image-1 {
    min-height: 253px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-11 .u-image-1 {
    min-height: 380px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-11 .u-image-1 {
    min-height: 239px;
  }
}@font-face {
  font-family: 'Bathrind-z8XP1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bathrind-z8XP1.ttf);
}